body {
  
  margin: 50px 0 0;
  overflow-x: hidden;
}

.wrapper {
  margin: auto;
  overflow-x: hidden;
}

.target {
  font-weight: bold;

  animation-name: rightToLeft;
  animation-duration: 4.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation: rightToLeft 4.5s linear infinite; */
}

@keyframes rightToLeft {
  0% {
    transform: translateX(630px);
  }
  100% {
    transform: translateX(-160px);
  }
}